body,
.calc-container,
.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.header {
    height: 70px;
    width: auto;
    background: darkred;
}
.calc-container {
    flex: 1;
    height: 800px;
    align-items: center;
    padding: 20px;
}
.calc-body {
    align-self: center;
    background: black;
    width: 320px;
    height: 600px;
    border-radius: 8px;
    justify-content: space-evenly;
}
.screen {
    background: green;
    height: 60px;
    margin: 20px;
    border-radius: 12px;
}
.buttons {
    display: flex;
    flex-flow: row wrap;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: white;
}
